<article class="post">
  <div class="title">
    {{title}}
    <p>({{post_content}})</p>
  </div>
  <div class="meta">
     by {{user.username}} 
    {{format_date created_at}}
    |
     <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>